.Search-container {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(#a2c3e7, #d3e8ff);
    background-position:center;
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search-bar {
    width: 100%;
    max-width: 700px;
    height: 70px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    border-color: #a2c3e7;
    padding: 10px;
    border: 1px solid rgba(105, 105, 105, 0.8)
  }
  .search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    padding: 24px 20px;
    font-size: 20px;
    color: #000000cc;
    /* height: 80px; */
    margin: 10px;
  }
  ::placeholder {
    color: rgb(32, 32, 32);
  }
  .search-bar button {
    border: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }